:root {
  --PhoneInputCountryFlag-height: 1.5em !important;
}

.PhoneInputCountrySelectArrow {
  display: none !important;
}
.PhoneInputCountryIcon {
  width: calc(
    var(--PhoneInputCountryFlag-height) *
      var(--PhoneInputCountryFlag-aspectRatio)
  ) !important;
  height: var(--PhoneInputCountryFlag-height) !important;
}

.PhoneInputCountryIcon--border {
  background-color: var(
    --PhoneInputCountryFlag-backgroundColor--loading
  ) !important;
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
      var(--PhoneInputCountryFlag-borderColor),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
      var(--PhoneInputCountryFlag-borderColor) !important;
}
.PhoneInputCountryIcon--border {
  border-radius: 5px !important;
  overflow: hidden !important;
  box-shadow: none !important;
}
.PhoneInputInput {
  padding-left: 0.5em !important;
}
.PhoneInputInput:focus {
  outline: none !important;
}
